.overlay-image {
    position:absolute;
    object-fit:contain;
    z-index: 1000;
    pointer-events: none;
  }
  
  .overlay-0 {
    width: 100%;
    display: flex;
    bottom: 0;
  }

  .overlay-1 {
    top: 80%;
    left: -2%;
    width: 275px;
    height: 286px;
  }
  
  .overlay-2 {
    top: 15%;
    left: -3%;
    width: 195.65px;
    height: 201.41px;
    transform: rotate(-45deg);
  }
  
  .overlay-3 {
    top: 45%;
    right: 3%;
    width: 170px;
    height: 175px;
    transform: rotate(-148.51deg);
  }
  
  .overlay-4 {
    top: 10%;
    right: -3%;
    width: 170px;
    height: 175px;
    transform: rotate(28.32deg);
  }

  .overlay-5 {
    left: 12vw;
    width: 170px;
    height: 175px;
    transform: rotate(-63.54deg);
    filter: blur(3px);
  }

  .overlay-6 {
    top: 140vw;
    right: 10vw;
    width: 161px;
    height: 167px;
    transform: rotate();
    filter: blur(3px);
  }

  .overlay-7 {
    top: 150vw;;
    left: 12vw;
    width: 108.93px;
    height: 112.99px;
    transform: rotate(-110deg);
    filter: blur(3px);
  }

  .overlay-8 {
    width: 100%;
    display: flex;
    top: 0;
  }

  .overlay-9 {
    width: 100%;
    display: flex;
    bottom: 0;
  }

  .overlay-10 {
    top: 25vw;
    right: 10vw;
    width: 152px;
    height: 156px;
    transform: rotate(-134.21deg);
  }

  .overlay-11 {
    top: 15vw;
    left: 10vw;
    width: 126.68px;
    height: 131.96px;
    transform: rotate(-125deg);
    filter: blur(5px);
  }

  .overlay-12 {
    top: 15vw;
    left: 13vw;
    width: 106.67px;
    height: 111.52px;
    transform: rotate(-105deg);
    filter: blur(5px);
  }

  .overlay-13 {
    top: 38vw;
    right: 10vw;
    width: 146.55px;
    height: 153.21px;
    transform: rotate(-120deg);
    filter: blur(5px);
  }

  .overlay-14 {
    top: 38vw;
    left: 10vw;
    width: 167.13px;
    height: 171.29px;
    transform: rotate(-125deg);
    filter: blur(5px);
  }

  .overlay-15 {
    top: 15vw;
    right: 12vw;
    width: 152.18px;
    height: 155.97px;
    transform: rotate(31.18deg);
    filter: blur(5px);
  }

  .mockup {
    display:flex;
    margin-left: -70%;
    bottom: -3%;
    width: 60%;
    height: auto;
    max-width: 1090px;
  }

  .keks{
    left: 45%;
    width: 1030px;
    height: 1547px;
    bottom: -20%;
  }


